* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start header section */

header {
    width: 100%;
    background-color: #BBBB;
    padding: 15px  0;
}

.header-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
    font-family: cursive;
}


nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold; /*Altera el texto en negrito*/
}

nav a:hover {
    text-decoration: underline;
    color: rgb(157, 135, 8);
}

/* End header section */

/* Start main section */

.titulo-contacto {
    margin: 50px 0;
}

main {
    width: 100%;
    margin: 0 auto;
}

table {
    margin: 40px 40px;
    position: absolute;
    left: 2%;
    top: 45%;
    font-size: 18px;
    font-family: cursive;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 28px 35px;
}

form {
    margin: 40px 0;
    padding: 0 13em;
    text-align: center;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-family: cursive;
}

.input-padron {
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 35%;
    font-size: 18px;
}

.mensaje-usuario {
    resize: none;
    width: 35%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
}

.contacto {
    font-size: 17px;
    display: inline;
    margin: 0 15px;
}

.opciones-contacto {
    margin: 0 13px;
}

.container-horario {
    margin: 50px 0;
}

.titulo-horario {
    margin: 30px 0;
}

.opciones-horario {
    font-size: 17px;
}

.checkbox {
    margin: 45px 0;
}

.text-checkbox {
    margin: 0 15px
}

.enviar {
    width: 20%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover {
    transform: scale(1.2);
    transition: 1s;
    background-color: rgb(84, 164, 196);
}

/* End main section */

/*Start footer section*/

footer {
    width: 100%;
    text-align: center;
    background: url(Barberia/imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFF;
    font-family: cursive;
    margin-top: 20px;
}


/*End footer section*/