* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start header section */

header {
    width: 100%;
    background-color: #BBBB;
    padding: 15px  0;
}

.header-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
    font-family: cursive;
}


nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold; /*Altera el texto en negrito*/
}

nav a:hover {
    text-decoration: underline;
    color: rgb(157, 135, 8);
}

/* End header section */

/* Start main section */

.titulo-contacto {
    margin: 30px 0;
}

main {
    width: 100%;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    padding: 0 13em;
    text-align: center;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-family: cursive;
}

.input-padron {
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 35%;
    font-size: 18px;
}

.mensaje-usuario {
    resize: none;
    width: 35%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
}

.checkbox {
    margin: 25px 0 ;
}

/* End main section */

/*Start footer section*/

footer {
    width: 100%;
    text-align: center;
    background: url(Barberia/imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFF;
    font-family: cursive;
    margin-top: 20px;
}

/*End footer section*/