* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start header section */

header {
    width: 100%;
    background-color: #BBBB;
    padding: 15px  0;
}

.header-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
}


nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold; /*Altera el texto en negrito*/
}

nav a:hover {
    text-decoration: underline;
    color: rgb(157, 135, 8);
}

/* End header section */