* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start header section */

header {
    width: 100%;
    background-color: #BBBB;
    padding: 15px  0;
}

.header-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
    font-family: cursive;
}


nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold; /*Altera el texto en negrito*/
}

nav a:hover {
    text-decoration: underline;
    color: rgb(157, 135, 8);
}

/* End header section */

/* Start main section */

main {
    width: 100%;
}

.productos {
    text-align: center;
    padding: 65px;
    font-family: cursive;
}

.productos li {
    display: inline-block;
    border: solid 2px #000000;
    box-sizing: border-box;
    width: 20%;
    margin: 0 1.5%;
    border-radius: 20px;
}


.productos li:hover {
    border-color: rgb(189, 162, 12);
}

.productos li:hover {
    transform: scale(1.01);
}

.productos li:active {
    transform: scale(0.97);
    border-color: #088c19;
}

.productos h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

/*End main section*/

/*Start footer section*/

footer {
    width: 100%;
    text-align: center;
    background: url(Barberia/imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFF;
    font-family: cursive;
    margin-top: 20px;
}

/*End footer section*/