* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* Start header section */

header {
    width: 100%;
    background-color: #BBBB;
    padding: 15px  0;
}

.header-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
}


nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold; /*Altera el texto en negrito*/
}

nav a:hover {
    text-decoration: underline;
    color: rgb(157, 135, 8);
}

.banner {
    width: 100%;
}

/* End header section */

/* Start main section */

.principal {
    background-color: #FEFEFE;
    padding: 3em 0;
}

.titulo-principal{
    margin: 1.1em 0;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 0 1em 1.5em;
    clear: left;
}

.principal p {
    margin: 1.2em 2em;
    text-align: center;
    font-size: 22px;
}


em strong {
    color: rgb(181, 14, 14);
}

.mision {
    font-size: 28px;
}

.mapa {
    padding: 3.1em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    font-size: 26px;
    text-align: center;
}

.ubicacion {
    width: 70%;
    height: 490px;
    border: 0;
    margin: 3em 0;
}

.titulo-principal-diferenciales{
    margin: 1.1em 0 1.1em 3em;
    font-size: 2.3em;
    font-weight: bold;

}

.lista-diferenciales {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 12em 0 5em;
}

.lista-diferenciales li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.items {
    border-bottom: 0.5px solid;
    padding: 1.8em 0;
    list-style: none;
}

.items::before {
    content: "★";
}

.diferenciales {
    background-color: #888888;
    padding: 3em 0;
}


.imagenDiferenciales {
    width: 50%;
    height: 500px;
    margin: 0 0 0 7em;
    opacity: 70%;
}

.imagenDiferenciales:hover {
    opacity: 100%;
    transition: 0.8s;
    box-shadow: 12px 12px 15px #000000;
}

.video {
    width: 100%;
    margin: 6em auto;
    text-align: center;
}

/* End main section */

/*Start footer section*/

footer {
    width: 100%;
    text-align: center;
    background: url(Barberia/imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFF;
    margin-top: 20px;
}

/*End footer section*/

@media(max-width:500px) {
        
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;

    }

    nav li {
        display: inline;
        margin: 1em 1em;
        font-size: 20px;

    }

    .header-container, .principal, .mapa {
        width: auto;
    }
    
    .titulo-principal-diferenciales {
        margin: 1em auto;
        font-size: 2.3em;
        font-weight: bold;
        text-align: center;
    }

    .lista-diferenciales {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .items {
        padding: 1.8em 0;
        list-style: none;
        border: none;
    }

    .imagenDiferenciales {
        width: 100%;
        height: 500px;
        margin: auto;
        opacity: 100%;
    }

    .video {
        width: auto;
        margin: 4em 0;
        text-align: center;
    }
    
    .video iframe {
    width: 400px;
    height: 400px;
}
}