* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #BBBB;
    padding: 15px  0;
}

.header-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
    font-family: cursive;
}


nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold; /*Altera el texto en negrito*/
}

nav a:hover {
    text-decoration: underline;
    color: rgb(157, 135, 8);
}

.banner {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    padding: 20px;
}

.titulo-principal{
    margin: 1.1em 0;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    font-family: cursive;
}

.principal p {
    margin: 1.2em 0;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
}


em strong {
    color: rgb(181, 14, 14);
}

.mision {
    font-size: 28px;
}

.titulo-principal-diferenciales{
    margin: 1.1em 0 1.1em 3em;
    font-size: 2.3em;
    font-weight: bold;
    font-family: cursive;
}

.items {
    font-family: cursive;
}

.ejemplos-diferenciales {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 12em 0 5em;
}

.ejemplos-diferenciales li {
    border-bottom: solid 1px;
    margin: 10% 0;
    padding-bottom: 17%;
}

.diferenciales {
    background-color: #ffffff;
    padding: 30px;
}


.imagenDiferenciales {
    width: 50%;
    height: 550px;
    margin: 0 0 0 7em;
}

/*Start footer section*/

footer {
    width: 100%;
    text-align: center;
    background: url(Barberia/imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFF;
    font-family: cursive;
    margin-top: 20px;
}

/*End footer section*/